@layer components {
  .font-title,
  :is(h1, h2, h3, h4) {
    @apply font-bold text-black;
  }

  h1,
  .heading-1 {
    font-size: 3.5rem;
  }

  h2,
  .heading-2 {
    font-size: 3rem;
  }

  h3,
  .heading-3 {
    font-size: 2.5rem;
  }

  h4,
  .heading-4 {
    font-size: 2rem;
  }

  .font-base,
  :is(h5, p) {
    @apply font-medium text-gray-800;
  }

  h5,
  .subheading {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  small,
  .font-small {
    font-size: 0.75rem;
    @apply text-gray-500 font-medium;
  }
}
