@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-success: 33 255 174;
    --color-warning: 255 239 157;
    --color-danger: 255 194 194;
  }

  html,
  body,
  #root {
    @apply h-full;
  }

  main {
    @apply pt-20 relative h-full;
  }
}
